body
{
   background-color: pink;
}

div
{
    padding-left: 50%;
    padding-right: 50%;
    background-color: aliceblue;
    height: 200px;
    width: 80px;
    border-color: black;
}

button
{
    background-color: deeppink;
    width: 20%;
    height: 5%;
    border-radius: 70;
}

h1
{
    font-size: 50;
    font-family: Courier New;
    padding-left: 150;
    padding-right: 150;
}

#output
{
    background-color: white;
    border-radius: 10px; 
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}